# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ and PyCharm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839


# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml


# Test files
*.test

# Output
*.out
*.temp
temp.txt
*.log
/temp/
/venv
/vendor
**/__pycache__/**